/*=================================
Pixeles 1920px
===================================*/
.salir{
    left: 3%;
    top: 1%;
}
.input-group-label{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: gray;
}
.input-group-label label{
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
}
.input-group-label input{
    width: 100%;
    border-radius: 30px;
    border: solid 2px #9d9d9d;
    border-radius: 20px;
    text-align: center;
    padding-right: 70px;
}
.input-group-label input:disabled{
    background-color: white;
}
.title{
    text-align: center;
    border-bottom: solid 3px #ffe82a;
}
.title h3{
    font-size: 30px;
}
.title-premios-mayores{
    text-align: center;
    font-size: 25px;
}
.carousel-item{
    height: 350px;
}
.carousel-item img{
    height: 355px;
    object-fit: contain;
}
.main-card{
    position: relative;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 5px 10px 5px 0px #0000001c;
}
.main-card:hover{
    box-shadow: 5px 10px 5px 2px #00000024;
}
.main-card .card-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.24);
}
.main-card .card-img img{
    width: 100%;
    height: 235px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    object-fit: contain;
}
.main-card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.main-card .card-content .title-card{
    padding: 10px 5px;
}
.main-card .card-content .title-card h5{
    font-size: 25px;
    margin: 0px;
}
.main-card .card-content .card-puntos h6{
    font-size: 15px;
    margin: 0px;
    color: #9d9d9d;
}
.main-card .card-content .body-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;
}
.main-card .card-content .body-card p{
    text-align: center;
    color: #7030A0;
    font-size: 20px;
    margin: 0;
}
.main-card .card-content .body-card small{
    font-size: 15px;
    color: #9d9d9d;
}
.button-card{
    width: 100%;
}
.button-card button{
    line-height: .5;
    padding: 15px 0px;
    font-size: 20px;
    width: 100%;
}
.main-card .card-content .footer-card{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 5px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: solid 1px rgba(0, 0, 0, 0.125);
}
.main-card .card-content .footer-card small{
    margin: 5px;
    font-size: 12px;
}
/*
#carousel-item{
    height: 500px;
}
#carousel-item img{
    height: 350px;
    margin-left: 200px;
}
#carousel-item .carousel-caption h5{
    font-size: 40px;
    margin-bottom: 1rem;
}
#carousel-item .carousel-caption p{
    font-size: 35px;
    margin-bottom: 0rem;
    padding: 0px;
}*/
/*=================================
Pixeles 1600px
===================================*/
@media(max-width: 1600px){
    .salir{
        left: 3%;
        top: 1%;
    }
    .input-group-label{
        display: flex;
        justify-content: center;
        border-radius: 30px;
        background-color: gray;
    }
    .input-group-label label{
        border-radius: 30px;
        padding: 10px 15px 10px 15px;
    }
    .input-group-label input{
        width: 100%;
        border-radius: 30px;
        border: solid 2px #9d9d9d;
        border-radius: 20px;
        text-align: center;
        padding-right: 70px;
    }
    .input-group-label input:disabled{
        background-color: white;
    }
    .title{
        text-align: center;
        border-bottom: solid 3px #ffe82a;
    }
    .title-premios-mayores{
        text-align: center;
    }
    .carousel-item{
        height: 350px;
    }
    .carousel-item img{
        height: 355px;
        object-fit: contain;
    }
    .main-card{
        position: relative;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        box-shadow: 5px 10px 5px 0px #0000001c;
    }
    .main-card:hover{
        box-shadow: 5px 10px 5px 2px #00000024;
    }
    .main-card .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    }
    .main-card .card-img img{
        width: 100%;
        height: 235px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        object-fit: contain;
    }
    .main-card .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .main-card .card-content .title-card{
        padding: 10px 5px;
    }
    .main-card .card-content .title-card h5{
        font-size: 25px;
        margin: 0px;
    }
    .main-card .card-content .card-puntos h6{
        font-size: 20px;
        margin: 0px;
        color: #9d9d9d;
    }
    .main-card .card-content .body-card{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }
    .main-card .card-content .body-card p{
        text-align: center;
        color: #7030A0;
        font-size: 25px;
        margin: 0;
    }
    .main-card .card-content .body-card small{
        font-size: 15px;
        color: #9d9d9d;
    }
    .button-card{
        width: 100%;
    }
    .button-card button{
        line-height: .5;
        padding: 15px 0px;
        font-size: 20px;
        width: 100%;
    }
    .main-card .card-content .footer-card{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.03);
        padding: 5px 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: solid 1px rgba(0, 0, 0, 0.125);
    }
    .main-card .card-content .footer-card small{
        margin: 5px;
        font-size: 12px;
    }
    /*
    #carousel-item{
        height: 500px;
    }
    #carousel-item img{
        height: 320px;
        margin-left: 260px;
    }
    #carousel-item .carousel-caption h5{
        font-size: 35px;
        margin: 0px;
    }
    #carousel-item .carousel-caption p{
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }*/
}
@media(max-width: 1440px){
    .salir{
        left: 3%;
        top: 1%;
    }
    .input-group-label{
        display: flex;
        justify-content: center;
        border-radius: 30px;
        background-color: gray;
    }
    .input-group-label label{
        border-radius: 30px;
        padding: 10px 15px 10px 15px;
    }
    .input-group-label input{
        width: 100%;
        border-radius: 30px;
        border: solid 2px #9d9d9d;
        border-radius: 20px;
        text-align: center;
        padding-right: 70px;
    }
    .input-group-label input:disabled{
        background-color: white;
    }
    .title{
        text-align: center;
        border-bottom: solid 3px #ffe82a;
    }
    .title h3{
        font-size: 35px;
    }
    .title-premios-mayores{
        text-align: center;
    }
    .main-card{
        position: relative;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        box-shadow: 5px 10px 5px 0px #0000001c;
    }
    .main-card:hover{
        box-shadow: 5px 10px 5px 2px #00000024;
    }
    .main-card .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    }
    .main-card .card-img img{
        width: 100%;
        height: 260px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        object-fit: contain;
    }
    .main-card .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .main-card .card-content .title-card{
        padding: 10px 5px;
    }
    .main-card .card-content .title-card h5{
        font-size: 25px;
        margin: 0px;
    }
    .main-card .card-content .card-puntos h6{
        font-size: 15px;
        margin: 0px;
        color: #9d9d9d;
    }
    .main-card .card-content .body-card{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }
    .main-card .card-content .body-card p{
        text-align: center;
        color: #7030A0;
        font-size: 20px;
        margin: 0;
    }
    .main-card .card-content .body-card small{
        font-size: 15px;
        color: #9d9d9d;
    }
    .button-card{
        width: 100%;
    }
    .button-card button{
        line-height: .5;
        padding: 15px 0px;
        font-size: 20px;
        width: 100%;
    }
    .main-card .card-content .footer-card{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.03);
        padding: 5px 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: solid 1px rgba(0, 0, 0, 0.125);
    }
    .main-card .card-content .footer-card small{
        margin: 5px;
        font-size: 12px;
    }
    /*
    #carousel-item{
        height: 500px;
    }
    #carousel-item img{
        height: 320px;
        margin-left: 260px;
    }
    #carousel-item .carousel-caption h5{
        font-size: 35px;
        margin: 0px;
    }
    #carousel-item .carousel-caption p{
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }*/
}
/*=================================
Pixeles 1366px
===================================*/
@media(max-width: 1366px){
    .salir{
        left: 3%;
        top: 1%;
    }
    .input-group-label{
        display: flex;
        justify-content: center;
        border-radius: 30px;
        background-color: gray;
    }
    .input-group-label label{
        border-radius: 30px;
        padding: 10px 15px 10px 15px;
    }
    .input-group-label input{
        width: 100%;
        border-radius: 30px;
        border: solid 2px #9d9d9d;
        border-radius: 20px;
        text-align: center;
        padding-right: 70px;
    }
    .input-group-label input:disabled{
        background-color: white;
    }
    .title{
        text-align: center;
        border-bottom: solid 3px #ffe82a;
    }
    .title h3{
        font-size: 30px;
    }
    .title-premios-mayores{
        text-align: center;
        font-size: 25px;
    }
    .carousel-item{
        height: 350px;
    }
    .carousel-item img{
        height: 355px;
        object-fit: contain;
    }
    .main-card{
        position: relative;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        box-shadow: 5px 10px 5px 0px #0000001c;
    }
    .main-card:hover{
        box-shadow: 5px 10px 5px 2px #00000024;
    }
    .main-card .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    }
    .main-card .card-img img{
        width: 100%;
        height: 235px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        object-fit: contain;
    }
    .main-card .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .main-card .card-content .title-card{
        padding: 10px 5px;
    }
    .main-card .card-content .title-card h5{
        font-size: 25px;
        margin: 0px;
    }
    .main-card .card-content .card-puntos h6{
        font-size: 15px;
        margin: 0px;
        color: #9d9d9d;
    }
    .main-card .card-content .body-card{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }
    .main-card .card-content .body-card p{
        text-align: center;
        color: #7030A0;
        font-size: 20px;
        margin: 0;
    }
    .main-card .card-content .body-card small{
        font-size: 15px;
        color: #9d9d9d;
    }
    .button-card{
        width: 100%;
    }
    .button-card button{
        line-height: .5;
        padding: 15px 0px;
        font-size: 20px;
        width: 100%;
    }
    .main-card .card-content .footer-card{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.03);
        padding: 5px 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: solid 1px rgba(0, 0, 0, 0.125);
    }
    .main-card .card-content .footer-card small{
        margin: 5px;
        font-size: 12px;
    }
    /*
    #carousel-item{
        height: 500px;
    }
    #carousel-item img{
        height: 350px;
        margin-left: 200px;
    }
    #carousel-item .carousel-caption h5{
        font-size: 40px;
        margin-bottom: 1rem;
    }
    #carousel-item .carousel-caption p{
        font-size: 35px;
        margin-bottom: 0rem;
        padding: 0px;
    }*/
}
@media(max-width: 1024px){
    .salir{
        left: 3%;
        top: 1%;
    }
    .input-group-label{
        display: flex;
        justify-content: center;
        border-radius: 30px;
        background-color: gray;
    }
    .input-group-label label{
        border-radius: 30px;
        padding: 10px 15px 10px 15px;
    }
    .input-group-label input{
        width: 100%;
        border-radius: 30px;
        border: solid 2px #9d9d9d;
        border-radius: 20px;
    }
    .input-group-label input:disabled{
        background-color: white;
    }
    .title{
        text-align: center;
        border-bottom: solid 3px #ffe82a;
    }
    .title-premios-mayores{
        text-align: center;
        font-size: 25px;
    }
    .col-lg-4{
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-card{
        position: relative;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        box-shadow: 5px 10px 5px 0px #0000001c;
    }
    .main-card:hover{
        box-shadow: 5px 10px 5px 2px #00000024;
    }
    .main-card .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    }
    
    .main-card .card-img img{
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        object-fit: contain;
    }
    .main-card .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .main-card .card-content .title-card{
        padding: 10px 5px;
    }
    .main-card .card-content .title-card h5{
        font-size: 25px;
        margin: 0px;
    }
    .main-card .card-content .card-puntos h6{
        font-size: 15px;
        margin: 0px;
        color: #9d9d9d;
    }
    .main-card .card-content .body-card{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }
    .main-card .card-content .body-card p{
        text-align: center;
        color: #7030A0;
        font-size: 20px;
        margin: 0;
    }
    .main-card .card-content .body-card small{
        font-size: 15px;
        color: #9d9d9d;
    }
    .button-card{
        width: 100%;
    }
    .button-card button{
        line-height: .5;
        padding: 15px 0px;
        font-size: 20px;
        width: 100%;
    }
    .main-card .card-content .footer-card{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.03);
        padding: 5px 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: solid 1px rgba(0, 0, 0, 0.125);
    }
    .main-card .card-content .footer-card small{
        margin: 5px;
        font-size: 12px;
    }
    /*
    #carousel-item{
        height: 500px;
    }
    #carousel-item img{
        height: 350px;
        margin-left: 80px;
    }
    #carousel-item .carousel-caption h5{
        font-size: 40px;
        margin-bottom: 1rem;
    }
    #carousel-item .carousel-caption p{
        font-size: 35px;
        margin-bottom: 0rem;
        padding: 0px;
    }
    */
}
@media(max-width: 425px){
    .input-group-label{
        display: flex;
        justify-content: center;
        border-radius: 30px;
        background-color: gray;
    }
    .input-group-label label{
        border-radius: 30px;
        padding: 10px 15px 10px 15px;
    
    }
    .input-group-label input{
        width: 100%;
        border-radius: 30px;
        border: solid 2px #9d9d9d;
        border-radius: 20px;
    }
    .input-group-label input:disabled{
        background-color: white;
        font-size: 20px;
    }
    .title-premios-mayores{
        text-align: center;
    }
    .col-6{
        width: 50%;
        padding: 5px;
    }
    .main-card{
        position: relative;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        box-shadow: 5px 10px 5px 0px #0000001c;
    }
    .main-card:hover{
        box-shadow: 5px 10px 5px 2px #00000024;
    }
    .main-card .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    }
    
    .main-card .card-img img{
        width: 150px;
        height: 120px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        object-fit: contain;
    }
    .main-card .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .main-card .card-content .title-card{
        padding: 10px 5px;
    }
    .main-card .card-content .title-card h5{
        font-size: 15px;
        margin: 0px;
    }
    .main-card .card-content .card-puntos h6{
        font-size: 10px;
        margin: 0px;
        color: #9d9d9d;
    }
    .main-card .card-content .body-card{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }
    .main-card .card-content .body-card p{
        text-align: center;
        color: #7030A0;
        font-size: 12px;
        margin: 0;
    }
    .main-card .card-content .body-card small{
        font-size: 10px;
        color: #9d9d9d;
    }
    .button-card{
        width: 100%;
    }
    .button-card button{
        line-height: .5;
        padding: 15px 0px;
        font-size: 12px;
        width: 100%;
    }
    .main-card .card-content .footer-card{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.03);
        padding: 5px 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: solid 1px rgba(0, 0, 0, 0.125);
    }
    .main-card .card-content .footer-card small{
        margin: 5px;
        font-size: 10px;
    }
    /*
    #carousel-item{
        height: 260px;
    }
    #carousel-item img{
        height: 150px !important;
        margin-left: -50px;
    }
    #carousel-item .carousel-caption h5{
        font-size: 20px;
        margin-bottom: 0rem;
    }
    #carousel-item .carousel-caption p{
        font-size: 15px;
        margin-bottom: 0rem;
        padding: 0px;
    }*/
}